@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #ececec;
}

/*------------ Login container ------------*/

.box-area {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------ Right box ------------*/

.right-box{
    
    width: 100%;
    
}

/*------------ Custom Placeholder ------------*/

::placeholder {
  font-size: 18px;
}

.rounded-4 {
  border-radius: 20px;
}

.rounded-5 {
  border-radius: 30px;
}
.input[type]{

}
/*------------ For small screens------------*/

@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
}
