
	* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 50%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}
.success {

      height: 25px;
      width: 12px;
      margin-left: 50%; 
	  display: inline-block;
      transform: rotate(45deg);
      border-bottom: 7px solid #78b13f;
      border-right: 7px solid #78b13f;
    }
 


